@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(236, 236, 236));
    font: normal 12px Arial, Helvetica, sans-serif;
    color: rgb(0, 75, 75);
    text-indent: 12px;
}

main {
    background-color: white;
    width: 98%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: justify;
}

main h3 {
    margin-left: 40px;
    width: 400px;
}

div.container {
    margin: 0 auto;
    width: 500px;
}

footer {
    background-color: white;
    width: 98%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

div.frameport {
    width: 424px;
    margin: 20px;
    padding-top: 20px;
}