@charset "UTF-8";

:root {
    --cor0: white;
    --cor1: rgb(205, 205, 205);
    --cor2: rgb(236, 236, 236);
    --cor3: ;
    --cor4: ;
    --cor5: ;
}

body {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    font: normal 12px Arial, Helvetica, sans-serif;
    color: rgb(0, 75, 75);
    text-indent: 12px;
    max-width: 1200px;
    margin: auto;
}

main {
    background-color: var(--cor0);
    width: 98%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: justify;
}

main h3 {
    margin-left: 40px;
    max-width: 400px;
}

div.container {
    margin: auto;
    max-width: 500px;
}

footer {
    background-color: var(--cor0);
    width: 98%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

div.frameport {
    width: 424px;
    margin: 20px;
    padding-top: 20px;
}

img {
    width: 90vw;
    max-width: 400px;
    margin-right: 20px;
}